/* Default dark theme */
:root {
    --background-1: #252627;
    --background-2: #333;
    --font-color-1: rgb(231, 225, 225);
    --font-color-2: #494949;
    --cyan: #119DA4;
}

/* Light theme */
[data-theme="light"] {
    --background-1: #f4f4f4;
    --background-2: #e0e0e0;
    --font-color-1: #333;
    --font-color-2: #494949;
    --cyan: #11bbc4;
}

.dashboard {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.stats {
    width: 50%;
    display: grid;
    padding: 24px;
    text-align: center;
    border-right: 1px solid var(--cyan);
    grid-template-columns: 40% 40%;
    grid-template-rows: 185px 250px;
    column-gap: 12px;
    row-gap: 24px;
}

.stat-card {
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:  start;
    justify-content: left;
    gap: 24px;
}

.card{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    color: black;
}

.card:hover {
    border: 1px solid var(--cyan);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.stat-card h3 {
    margin: 0;
    font-size: 18px;
    display: flex;
    gap: 12px;
    color: var(--font-color-2);
}

.stat-card .counter{
    font-size: 3rem;
}



.recent-content {
    margin-top: 20px;
}

.recent-content h2 {
    font-size: 20px;
}

.dashboard ul {
    padding: 0;
    list-style-type: none;
}

.dashboard ul li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.chart_container{
    width: 600px;
    height: auto;
}

#myChart {
    width: 100%;
    height: auto;
    margin-right: 60px;
}

.content-counts {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.content-counts div {
    flex: 1;
    min-width: 200px;
    text-align: center;
}
.content-counts div p {
    margin: 10px 0;
    font-size: 1.1em;
}
.content-counts div span {
    font-size: 1.3em;
    font-weight: bold;
}

@media (max-width: 1020px) {
    .dashboard{
        padding: 12px;
        flex-direction: column;
    }

    .stats{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .card{
        width: 80%;
    }

    .chart_container{
        width: 100%;
    }
}