/* Default dark theme */
:root {
    --background-1: #252627;
    --background-2: #333;
    --font-color-1: rgb(231, 225, 225);
    --cyan: #119DA4;
}

/* Light theme */
[data-theme="light"] {
    --background-1: #f4f4f4;
    --background-2: #e0e0e0;
    --font-color-1: #333;
    --cyan: #119DA4;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: var(--background-1);
  color: var(--font-color-1);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul, ol, li{
    list-style-type: none; /* Removes bullets or numbers */
    padding: 0; /* Removes default padding */
}

li, a{
    text-decoration: none; /* Removes any text decoration from the list items */
    color: var(--font-color-1);
}


main{
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    position: relative;
}

/* Theme Switcher Styles */

header{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

header img{
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 50%;
}

#theme-toggle-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    position: relative;
    display: flex;
    width: 3em;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #theme-toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }
  
  /* night sky background */
  #theme-toggle:checked + svg #container {
    fill: #2b4360;
  }
  
  /* move button to right when checked */
  #theme-toggle:checked + svg #button {
    transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
    opacity: 1;
  }
  
  #theme-toggle:checked + svg #sun {
    opacity: 0;
  }
  
  #moon {
    opacity: 0;
  }
  
  #theme-toggle:checked + svg #moon {
    opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
    opacity: 1;
  }
  
  #theme-toggle:checked + svg #cloud {
    opacity: 0;
  }
  
  #stars {
    opacity: 0;
  }
  
  #theme-toggle:checked + svg #stars {
    opacity: 1;
  }
  


#sidebar {
  width: 250px;
  background-color: var(--background-2);
  color: white;
  height: 100vh;
  position: fixed;
  margin: 0;
}

#sidebar .logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar img{
    width: 90%;
    object-fit: contain;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 12px;
}


#sidebar ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

#sidebar li{
    width: 100%; 
    margin: 0;
    display: flex;
    justify-content: center; 
}

#sidebar ul a{
    border-radius: 25px;
    width: 75%;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--cyan);
    transition: background-color 300ms ease;
}

#sidebar a:hover{
    background-color: var(--cyan);
}

#sidebar a.active{
    background-color: var(--cyan) ;
}

