
:root{
  --aqua-blue: rgb(38, 130, 192);
}

main{
  position: relative;
}

#btn_container{
  position: absolute;
  display: flex;
  gap: 6px;
  top: 9px;
  right: 9px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  width: fit-content;
}

.btn{
  color: white;
  border: none;
  padding: 12px;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 150ms ease; 
    display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.btn.edit{
  background-color: var(--aqua-blue);
}

.btn.save{
  background-color: var(--aqua-blue);
}

.btn.cancel{
  border: 1px solid red;
  color: red;
}

#edit-bt:hover{
  transform: scale(1.05);
}

#edit-bt:active{
  transform: scale(1.02);
}
.card#main{
  padding: 12px;
  display: flex;
  gap: 24px;
  flex-direction: row;
}

.card#main .left{
  display: flex;
  flex-direction: column;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.425);
}

.logout-button {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-button:hover {
  background-color: #e63946;
}


/** 
  Badge Design
**/

.badge{
  width: fit-content;
  background-color: gray;
  color: white;
  padding: 6px 16px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 12px;
}

.badge.admin{
  background-color: #d32f2f;
}

.badge.content-creator{
  background-color: var(--aqua-blue);
}

.badge i{
  font-size: 0.7rem;
}

#username{
  font-size: 1.5rem;
}

#id{
  color: var(--aqua-blue);
}

#email{
  color: var(--aqua-blue);
}

#bio{

}

@media (max-width: 768px) {
  .card#main{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card#main .left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #username{
    text-align: center;
  }
  .badge{text-align: center;}

}