/* Header Styles */
:root{
  --aqua-blue: rgb(38, 130, 192);
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 12px;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgb(38, 130, 192);
    background-color: white;
    position: sticky;
  }
  
  .logo-link {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(38, 130, 192);
    text-decoration: none;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 24px;
    height: 2px;
    background-color: #030303;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 3px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
  /* Navigation Bar */
  .nav {
    display: flex;
    transition: animation 0.3s ease-in-out;
    flex: 1;
    justify-content: center;
  }
  
  .nav-list {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s;
    height: 100%;
    border-right: 1px solid rgba(38, 130, 192, 0.753);
  }

  .first-nav{
    border-left: 1px solid rgba(38, 130, 192, 0.753);
  }
  
  .nav-link:hover {
    color: #f8c24f;
    font-weight: bold;
  }
  
  /* Dropdown for Explore section */
  .nav-item {
    position: relative;
  }

  .nav-item.cur-page a{
    color: rgba(38, 130, 192, 0.753);
    font-weight: bold;
  }
  
  .nav-item.cur-page a::before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(38, 130, 192, 0.753);
  }

  .explore .dropdown {
    display: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #333;
    padding: 0.5rem;
    width: 360px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    border-radius: 6px;
    flex-wrap: nowrap;
  }
  
  .explore:hover .dropdown {
    display: flex;
    animation: slide_down 500ms ease;
  }
  
  .dropdown-section {
    padding: 1rem;
    width: 50%;
  }
  
  .dropdown-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: rgba(130, 192, 233, 0.753);
  }
  
  .dropdown-section ul {
    list-style-type: none;
  }
  
  .dropdown-section ul {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .dropdown-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .dropdown-section a:hover {
    color: #f8c24f;
  }

  .dropdown-m{
    display: none;
    flex-direction: column;
  }

  .accordion-btn {
    background-color: inherit;
    color: #ffffff;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
   .accordion-btn:hover {
    background-color: rgba(38, 130, 192, 0.753);
  }

  .accordion-btn:after {
    content: ''; /* Unicode character for "plus" sign (+) */
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 200ms ease;
  }
  
  .accordion-btn.change:after {
    content: ""; /* Unicode character for "minus" sign (-) */
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 12px;
  }

  .accordion-panel.show{
    max-height: 500px;   
    border-top: 1px solid rgba(255, 255, 255, 0.521);
    border-bottom: 1px solid rgba(255, 255, 255, 0.521); 
}

.nav-accordion{display: none;}

.auth-container{
  margin: 0;
  margin-right: 24px;
  display: flex;
  width: 90px;
  justify-content: right;
}

#userMenu{z-index: 11;}

#userProfileLink #profilePicture{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


#userInfo{
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

#userInfo img{
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.btn{
  background-color: transparent;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
}

.login{
  background-color: var(--aqua-blue);
  border-radius: 12px;
  color: white;
}


/* Close button styles */
.closeMenuBtn {
  position: absolute;
  top: 12px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

/* Menu open/close transition */
.slide-menu {
  position: fixed;
  top: 0;
  right: -250px; /* Hidden offscreen by default */
  width: 250px;
  height: 100%;
  background-color: #cac8d1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}
.slide-menu.open {
  right: 0; /* Slide menu into view */
  box-shadow: 1px 12px 12px 3px black;
}


/* Menu Content */
.menu-content {
}

#userDetail{
  width: 100%;
  background-color: rgb(214, 213, 213);
  text-align: center;
  padding: 12px;
}

/* User Profile Image Inside Menu */
#userDetail img {
  width: 70px;
  height: 70px;
  margin: 20px;
  border-radius: 50%;
  object-fit: cover;
}

#userDetail #userName{
  color: black;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.menu-content ul li {
  border-bottom: 1px solid var(--aqua-blue);
}

.menu-content ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 18px 24px;
  transition: 200ms ease;
}

.menu-content ul li a:hover{
  font-weight: bold;
  color: var(--aqua-blue);
}

.menu-content .menuLogout{
  color: rgb(0, 0, 0);
  border: none;
  width: 100%;
  padding: 16px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 400ms ease;
  position: absolute;
  bottom: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;;
}

.menu-content .menuLogout img{
  margin-left: 12px;
  width: 24px;
  height: 100%;
  top: 0;
}

.menu-content .menuLogout:hover{
  color: red;
}

  
  /* Media Query for Mobile Devices */
  @media (max-width: 768px) {

    .header{
      position: static;
    }

    .logo{ flex: 1;}
    
    .logo .logo-link{font-size: 24px;}

    .auth-container{
      display: block;
      margin-right:  32px;
      width: 40px;
    }

    .hamburger-menu {
      display: inline-block;  /* Show the hamburger on smaller screens */
    }

    .nav {
      display: none;  /* Hide the navigation by default */
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 65px;
      left: 0;
      z-index: 10;
      color: white;
      box-shadow: 0px 6px 12px 6px rgba(0, 0, 0, 0.473);
    }

    .nav-accordion{display: block;}

    .nav-list {
      flex-direction: column;  /* Stack the navigation items vertically */
      width: 100%;
    }

    .nav-list li{
        height: 100%;
        transition: background-color 500ms ease;
        cursor: pointer;
    }

    .nav-list .nav-item:hover{
        background-color: rgb(38, 130, 192);
    }
    .nav-list li a{
        display: block;
        margin: 0;
        padding: 24px;
        
    }
    .nav-link {
        text-align: left;
        margin: 1rem 0;
        color: rgb(255, 255, 255);
        padding: 12px; 
        border: none;
        width: 100%;
    }
  
    .nav.show {
      display: flex; 
      animation: slide_down 500ms;
    }

    

    .nav-item.explore{display: none;}
  }
  


  
  @keyframes slide_down{
    0% {
      max-height: 0px;
    }

    100% {
      max-height: 500px;
    }
  }

  