:root{
  --aqua-blue: rgb(38, 130, 192);
}


.pageTitle{
  padding: 12px 24px;
  font-size: 2rem;
}

.filterContainer{
  padding: 12px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 12px ;
}

.searchContainer{
  position: relative;
  flex: 1;
}

#searchInput{
  width: 100%;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.404);
}

#submitBtn{
  padding: 12px 0px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  position: absolute;
  right: 24px;
  cursor: pointer;
}


#filter{
  padding: 12px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .article-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .article-card:hover {
    transform: translateY(-5px);
  }
  
  .article-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .article-content {
    padding: 15px;
  }
  
  .article-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-author {
    font-size: 0.9em;
    color: gray;
  }
  
  .article-description {
    font-size: 0.95em;
    margin-top: 10px;
    color: #444;
  }
  